@tailwind base;
@tailwind components;
@tailwind utilities;

.image-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.image-wrapper img:last-child {
  position: absolute;
  top: 0;
  opacity: 0;
}

.image-wrapper:hover img:first-child {
  opacity: 0;
}

.image-wrapper:hover img:last-child {
  opacity: 1;
}
